.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  text-align: center;
}
.head-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  text-align: center;
}
.card {
  background-color: black;
  color: #ecb3ff;
  box-shadow: 5px 5px 5px #ecb3ff;
  border: 1px solid #ecb3ff;
  margin-left: 10em;
  margin-right: 10em;
  padding-bottom: 10em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  min-height: 256px;
  line-height: 2em;
}
